brotlipy~=0.7.0
burpsuite~=0.0.3
certifi~=2021.10.8
cffi~=1.15.0
chardet~=4.0.0
charset-normalizer~=2.0.0
cryptography~=35.0.0
github3.py~=1.2.0
idna~=3.1
kamene~=0.32
lxml~=4.6.4
opencv-python~=4.5.4
paramiko~=2.8.0
pbr~=5.7.0
pip~=21.3.1
pycparser~=2.21
pycryptodome~=3.11.0
PyMI~=1.0.6
pyOpenSSL~=21.0.0
PySocks~=1.7.1
pywin32~=302
pyWinhook~=1.6.2
requests~=2.26.0
setuptools~=58.5.3
six~=1.16.0
urllib3~=1.26.7
wheel~=0.37.0
win-inet-pton~=1.1.0
